
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    font-style: bolder;
    font-weight: 300;
    border-bottom: 1px solid hsl(0, 0%, 5%);
}
th {
    background-color:	#FFA500;
    font-size: bolder;
}
img {
    max-width: 100px;
    max-height: 100px;
}
h1 {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

form {
width: 300px;
padding: 20px;
border: 1px solid #ed3b05;
border-radius: 5px;
}

/* Arrange form elements */
label {
display: block;
margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
width: calc(100% - 10px);
padding: 5px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
box-sizing: border-box;
}

button {
width: 100%;
padding: 10px;
background-color: #FFA500;
color: #111010;
border: none;
border-radius: 3px;
cursor: pointer;
}

button:hover {
background-color: #FFA500;
}